:root {
  font-family: "Rethink Sans";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.home-bg {
  background-image: url(../src/assets/HomeBg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set opacity */
  opacity: 1; 
  background-blend-mode: multiply;
}
.techs-bg {
  background-image: url(../src//assets/circleFrame.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;


  /* Set opacity */
  opacity: 1;
  background-blend-mode: multiply;
}

.line-hieght {
  font-family: "Rethink Sans";
  background-image: linear-gradient(30deg, #FFFFFF, #50149a81);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techs {
  background-image: linear-gradient(180deg, #23194F80 5%, #5317a13c 80%);
  border: 0.5px solid #132fb91a;
}
.techs-logo {
  background-image: linear-gradient(180deg, #23194F80 5%, #5317a13c 80%);
  border: 1.5px solid #132fb91a;
}
.techs-button {
  background-image: linear-gradient(180deg, #23194F80 5%, #5317a13c 80%);
  border: 1.5px solid #132fb91a;
}
.border-line {
  border-bottom: 0.5px solid #5317A1;
}
.foot-text {
  bottom: 0px;
}
span {
  background-image: linear-gradient(30deg, #FFFFFF, #50149A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .about-container {
  line-height: px;
} */
.pro-img {
  width: 100%;              
  height: 100%;            
  /* background-image: url('your-image.jpg'); */
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
}
.decorate-txt {
  background-image: linear-gradient(30deg, #FFFFFF, #50149A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@import "tailwindcss";




